Restrict app execution on VIP machine based on WDATP alert.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"wdatp_Connection_Name":{"defaultValue":"wdatp","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}},"dynamicscrmonline_Connection_Name":{"defaultValue":"dynamicscrmonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Triggers_when_a_Windows_Defender_ATP_alert_occurs":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"WebHooks_CreateWebHook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wdatp']['connectionId']"}},"body":{"clientState":"flow","changeType":"created","resource":"alerts","expirationDateTime":"2038-09-20T12:00:00Z","notificationUrl":"@{listCallbackUrl()}"},"path":"/subscriptions","authentication":"@parameters('$authentication')"}}},"actions":{"Get_machines":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetMachines"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wdatp']['connectionId']"}},"method":"get","path":"/api/machines","authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_machines')?['value']","actions":{"Apply_to_each_2":{"foreach":"@items('Apply_to_each')?['machineTags']","actions":{"Condition_3":{"actions":{"Get_single_alert":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetSingleAlert"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wdatp']['connectionId']"}},"method":"get","path":"/api/alerts/@{encodeURIComponent(triggerBody()?['id'])}","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Collect_Investigation_Package":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CollectInvestigationPackage"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wdatp']['connectionId']"}},"method":"post","body":{"Comment":"Triggered for @{triggerBody()?['id']}"},"path":"/api/machines/@{encodeURIComponent(triggerBody()?['machineId'])}/collectInvestigationPackage","authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Collect_Investigation_Package":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"admin@threatprotect.me;","Subject":"New alert on VIP machine @{items('Apply_to_each')?['computerDnsName']}","Body":"<p>New alert with description \"@{body('Get_single_alert')?['title']}\" with severity &nbsp;@{body('Get_single_alert')?['severity']} on @{items('Apply_to_each')?['computerDnsName']}. &nbsp;Investigation package collection started.<br>\n<br>\n<strong>Since this is a VIP machine, please triage &nbsp;and approve Restriction of App Execution before escalating to Tier 2 or choose no to set alert to resolved.&nbsp;</strong><br>\n<br>\nMore information about the alert:<br>\nDescription: @{body('Get_single_alert')?['description']}<br>\nAlert creation time: @{body('Get_single_alert')?['alertCreationTime']}<br>\nAlert category: @{body('Get_single_alert')?['category']}<br>\nDetection source: @{body('Get_single_alert')?['detectionSource']}<br>\nRecommended action: @{body('Get_single_alert')?['recommendedAction']}<br>\n</p>","Cc":"paul.huijbregts@microsoft.com","Importance":"High"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"Start_an_approval":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribeV2"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"New alert on VIP machine","assignedTo":"admin@threatprotect.me;","details":"Triage and approve app restriction or resolve alert","enableNotifications":true},"path":"/types/@{encodeURIComponent('Basic')}/$subscriptions","authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Restrict_app_execution":{"runAfter":{"Create_a_new_record_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"RestrictAppExecution"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wdatp']['connectionId']"}},"method":"post","body":{"Comment":"True Alert on VIP machine, app execution restricted"},"path":"/api/machines/@{encodeURIComponent(body('Collect_Investigation_Package')?['machineId'])}/restrictCodeExecution","authentication":"@parameters('$authentication')"}},"Update_alert_2":{"runAfter":{"Restrict_app_execution":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchAlert"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wdatp']['connectionId']"}},"method":"patch","body":{"status":"InProgress","assignedTo":"admin2@threatprotect.me","classification":"TruePositive"},"path":"/api/alerts/@{encodeURIComponent(triggerBody()?['id'])}","authentication":"@parameters('$authentication')"}},"Create_a_new_record_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['dynamicscrmonline']['connectionId']"}},"method":"post","body":{"title":"@body('Get_single_alert')?['title']","_customerid_value":"aca19cdd-88df-e311-b8e5-6c3be5a8b200","_customerid_type":"accounts","description":"Case created through VIP monitoring workflow automatically for your attention!","_caseorigincode_label":"","_ownerid_type":"","merged":false,"activitiescomplete":false,"new_atpurl":"https://securitycenter.windows.com/alert/@{body('Get_single_alert')?['id']}","blockedprofile":false,"_incidentstagecode_label":"Default Value","checkemail":false,"new_createdbyatpintegration":true,"customercontacted":false,"_int_customereffort_label":"","decremententitlementterm":true,"isdecrementing":false,"firstresponsesent":false,"_firstresponseslastatus_label":"In Progress","followupby":"@{addHours(utcNow(),4)}","followuptaskcreated":false,"isescalated":false,"_prioritycode_label":"Normal","_messagetypecode_label":"","_resolvebyslastatus_label":"In Progress","routecase":true,"_customersatisfactioncode_label":"","_contractservicelevelcode_label":"","_servicestage_label":"","_severitycode_label":"Default Value","_statuscode_label":"","_new_truepositive_label":"","int_upsellreferral":false},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('orgd1ee4107.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('incidents'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_an_approval":["Succeeded"]},"else":{"actions":{"Update_alert":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchAlert"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wdatp']['connectionId']"}},"method":"patch","body":{"status":"Resolved","assignedTo":"admin2@threatprotect.me"},"path":"/api/alerts/@{encodeURIComponent(triggerBody()?['id'])}","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('Start_an_approval')?['response'], 'Approve')","type":"If"}},"runAfter":{"Get_single_alert":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"admin@threatprotect.me;","Subject":"Alert on VIP machine with severity other than \"High\" (demo)","Body":"<p>An alert was raised on a VIP machine of a type other than High. This means there was a low, medium or informational severity alert that did not trigger rest of workflow since that only applies on High.&nbsp;</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('Get_single_alert')?['severity'], 'Medium')","type":"If"}},"runAfter":{},"else":{"actions":{"Send_an_email":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"admin@threatprotect.me;","Subject":"Flow ran but not a VIP machine","Body":"This indicates alert was on a non VIP machine"},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(items('Apply_to_each_2'), 'VIP')","type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_machines":["Succeeded"]},"type":"Foreach"}},"description":"If there's an alert raised by WDATP on a machine tagged \"VIP\", trigger collection of an investigation package, notify Tier 1 analyst (admin) with details,  start an approval flow to either restrict app execution and assign alert to Tier 2 (admin2), or set alert status to resolved and assign to Tier 2 (admin2)."},"parameters":{"$connections":{"value":{"wdatp":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'wdatp')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('wdatp_Connection_Name'))]","connectionName":"[parameters('wdatp_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"},"dynamicscrmonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_Connection_Name'))]","connectionName":"[parameters('dynamicscrmonline_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('wdatp_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('wdatp_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'wdatp')]"},"displayName":"[parameters('wdatp_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('office365_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('approvals_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('dynamicscrmonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]"},"displayName":"[parameters('dynamicscrmonline_Connection_Name')]"}}]}